<button href="#" class="btn btn-success" (click)="onAdd()">Add</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Count</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products$ |async">
      <th scope="row">{{product.id}}</th>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.count}}</td>
      <td>{{product.category}}</td>
      <td>{{product.description}}</td>
      <td><button href="#" class="btn btn-success" (click)="onEdit(product.id)">Edit</button></td>
    </tr>
  </tbody>
</table>
