<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Count</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products |async">
      <th scope="row">{{index}}</th>
      <td>{{product.Name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.count}}</td>
      <td>{{product.category}}</td>
      <td>{{product.description}}</td>
      <td><button href="#" class="btn btn-success" (click)="onEdit(product.id)">Edit</button>
    </tr>
  </tbody>
</table>
<router-outlet></router-outlet>