<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Count</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of orderService.getOrders()">
        <th scope="row">{{index}}</th>
        <td>{{product.name}}</td>
        <td>{{product.phone}}</td>
        <td>{{product.products.length}}</td>
        <td><button href="#" class="btn btn-third float-right" disabled>Edit</button>
          <button href="#" class="btn btn-third float-right" disabled>Delete</button></td>
      </tr>
    </tbody>
  </table>