<div>
  <button class="btn btn-primary" type="button">
    CheckOut <span class="badge badge-light">{{count}}</span>
  </button>
  <div *ngFor="let product of prodInCart | orderBy: sortOption"> 
    <app-cart-item  [item]="product"></app-cart-item>    
  <button class="btn btn-primary" type="button" (click)="onDecrease(product)"></button>
  {{product.count}}
  <button class="btn btn-primary" type="button" (click)="onIncrease(product)"></button>
    <button type="button" class="close" aria-label="Close" (click)="onRemove(product)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <span>Total:{{total |currency:locale}} </span>
  <select name="sotringOptions"  [(ngModel)]="sortOption"  (change)=onChange($event,sortOption)>
      <option value="" disabled>Choose sorting</option>
      <option *ngFor="let opt of sotringOptions" [ngValue]="opt">
        {{ opt }}
      </option>
    </select>
</div>