<div>
  <div>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"><a class="navbar-brand" href="#" routerLink="/home">Home</a></span>
            <span class="icon-bar"><a routerLink="/about" href="#">About</a></span>
            <span class="icon-bar"><a routerLink="/admin" href="#">Admin</a></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" routerLink="/home" #appTitle>
          </a>
        </div>
        <div>
          <div>
            <ul class="nav navbar-nav">
              <li routerLinkActive="active">
                <span class="icon-bar"><a class="navbar-brand" href="#" routerLink="/home">Home</a></span>
              </li>
              <li routerLinkActive="active">
                <a routerLink="/cart">Cart <span class="badge badge-light">{{count}}</span></a>
              </li>
              <li routerLinkActive="active">
                <a routerLink="/about">About</a>
              </li>
              <li routerLinkActive="active">
                <a routerLink="/admin">Admin</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="col-md-10">
        <!-- #routerOutlet="outlet" - access to the properties of router-outlet directive -->
        <router-outlet #routerOutlet="outlet" (activate)='onActivate($event, routerOutlet)'
          (deactivate)='onDeactivate($event, routerOutlet)'>
        </router-outlet>
        <!-- Routed views go here -->
      </div>
    </div>
  </div>
  <!-- 
        <app-cart-list *ngIf="prodInCarCount>0; else elseBlock"></app-cart-list>
        <ng-template #elseBlock>
          <button class="btn btn-secondary " type="button">
            Cart empty
          </button>
        </ng-template>
        <router-outlet name="cart"></router-outlet>
      -->


  <!-- 
  <div style="float:left;width: 60%">
    <app-product-list (buyProd)="onBuy($event)"></app-product-list>
  </div>
  
  <div class="footer mt-auto py-3 smFont" style="float:left;width: 60%">
    <app-about></app-about>
  </div> -->