<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="pannel-title">
            Product Form
        </h4>
    </div>
    <div class="panel-body">
        <form (ngSubmit)="onSave()" id="product-form" #form="ngForm">
            <div class="form-group">
                <label for="name"> Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" required
                    [(ngModel)]="product.name">
            </div>    
             <div class="form-group">
                <label for="price"> Name</label>
                <input type="number" class="form-control" id="price" name="price" placeholder="Price" required
                    [(ngModel)]="product.price">
            </div>
            <div class="form-group">
                <label for="count">Count</label>
                <input type="number" class="form-control" id="count" name="count" placeholder="Count"
                    [(ngModel)]="product.count" />
            </div>
            <div class="form-group">
                <label for="description"> Description</label>
                <input type="text" class="form-control" id="description" name="description" placeholder="Description" required
                    [(ngModel)]="product.description">
            </div> 
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Save
            </button>
            <button class="btn btn-primary" type="button" (click)="onGoBack()">Back
            </button>
        </form>
    </div>
</div>