<h3> Admin </h3>
<nav>
  <ul class="nav nav-tabs">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="./" queryParamsHandling="preserve" preserveFragment>Dashboard</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="./managingproducts" queryParamsHandling="preserve" preserveFragment >Manage Products</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="./orders"  queryParamsHandling="preserve" preserveFragment>Manage Orders</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>